<section class="banner" style="background-image: url('assets/images/banner-como-doar.jpg');">
  <div class="center">
    <h2>O seu apoio muda tudo</h2>
    <p>O que pode não fazer falta para você, pode valer muito para outros</p>
  </div> <!-- center -->
</section> <!-- banner -->

<section class="tutorial" style="background-image: url('assets/images/background2.png');">
  <div class="center">
    <h2>Como doar?</h2>
    <ol>
      <li>Clique em <strong>instituiçoes</strong> no menu ou em <strong>ver todas as instituições</strong> na página principal.</li>
      <li>Escolha uma instituição de seu interesse e clique em <strong>saiba mais.</strong></li>
      <li>Clique em <strong>doar agora.</strong></li>
      <li>Escolha uma forma de pagamento e faça sua doação &lt;3</li>
    </ol>
  </div> <!-- center -->

</section> <!-- tutorial -->
