<section class="single-informations" style="background-image: url('assets/images/background3.png');">
  <div class="center">
    <div class="flex-container" *ngIf="institution">
      <img src="https://storage.googleapis.com/quantum-ether-335121.appspot.com/{{institution.institution.logo}}" alt="{{institution.institution.nome}}">
      <h2>A SUA AJUDA TRANSFORMA VIDAS!</h2>
      <p>{{institution.institution.sobre_curto}}</p>
      <a routerLink="/doar-agora/{{this.id}}">Doar agora</a>
    </div> <!-- flex-container -->
  </div> <!-- center -->
</section> <!-- single-informations -->

<section class="informations">
  <div class="center">
    <div class="flex-container">
      <h2>SAIBA MAIS SOBRE A INSTITUIÇÃO SELECIONADA</h2>
      <p>{{institution.institution.sobre}}</p>
      <div class="contact">
        <img src="https://storage.googleapis.com/quantum-ether-335121.appspot.com/{{institution.institution.logo}}" alt="{{institution.institution.nome}}">
        <div class="info-contact">
          <h3>Informações de contato</h3>
          <ul>
            <li *ngIf="institution.institution.website">Site: {{institution.institution.website}}</li>
            <li>Email: {{institution.institution.email}}</li>
            <li>Telefone: {{institution.institution.telefone_1}}</li>
            <li *ngIf="institution.institution.telefone_2">Telefone: {{institution.institution.telefone_2}}</li>
            <li>Localização: {{institution.institution.localizacao}}</li>
          </ul>
        </div> <!-- info-contact -->
      </div> <!-- contact -->
    </div> <!-- flex-container -->
  </div> <!-- center -->
</section> <!-- informations -->
