<section class="single-informations">
  <div class="center">
    <div class="flex-container">
      <img src="assets/images/ex04.png" alt="instituição">
      <h2>A SUA AJUDA TRANSFORMA VIDAS!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam amet minus accusamus ipsam! Similique sapiente sequi accusamus, fugiat tempore rem debitis qui nobis est, quasi.</p>
      <a routerLink="/doar-agora/exemplo">Doar agora</a>
    </div> <!-- flex-container -->
  </div> <!-- center -->
</section> <!-- single-informations -->

<section class="informations">
  <div class="center">
    <div class="flex-container">

    </div> <!-- flex-container -->
  </div> <!-- center -->
</section> <!-- informations -->
