<section class="single-informations" style="background-image: url('assets/images/background3.png');">
  <div class="center">
    <div class="flex-container">
      <img src="assets/images/ex04.png" alt="instituição">
      <h2>A SUA AJUDA TRANSFORMA VIDAS!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam amet minus accusamus ipsam! Similique sapiente sequi accusamus, fugiat tempore rem debitis qui nobis est, quasi.</p>
      <a routerLink="/doar-agora/exemplo">Doar agora</a>
    </div> <!-- flex-container -->
  </div> <!-- center -->
</section> <!-- single-informations -->

<section class="informations">
  <div class="center">
    <div class="flex-container">
      <h2>SAIBA MAIS SOBRE A INSTITUIÇÃO SELECIONADA</h2>
      <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto autem optio placeat quae aut consequuntur quo quaerat eveniet maiores officiis doloremque, ratione cupiditate eaque fuga non sapiente a. Nulla, cupiditate! Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ut veritatis doloribus nisi ipsa sit quis earum, possimus adipisci, voluptatum aspernatur a voluptates debitis quisquam blanditiis rem. Modi, odit sequi!</P>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt unde quidem vel consectetur, quia nihil eos sunt quo laboriosam beatae possimus eligendi nobis ut corrupti delectus! Fugiat facilis ad corrupti.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequatur at porro quam nemo eveniet id consectetur voluptate architecto vel, hic, incidunt sed aut, maxime ipsum iusto? Itaque, ab omnis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde repellat doloribus quos deleniti alias aliquid debitis voluptatem atque eius quas adipisci temporibus ea cupiditate, vel minus numquam nihil molestias laborum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae velit quod enim facere natus beatae nemo repellat dicta. Illo officia animi odio quae aut dicta autem repellendus magni pariatur quos.</p>

      <div class="contact">
        <img src="assets/images/ex04.png" alt="instituição">
        <div class="info-contact">
          <h3>Informações de contato</h3>
          <ul>
            <li>Site: Exemple.site.com</li>
            <li>E-mail: Exemple@email.com</li>
            <li>Telefone: (81) 90000-0000</li>
          </ul>
        </div> <!-- info-contact -->
      </div> <!-- contact -->
    </div> <!-- flex-container -->
  </div> <!-- center -->
</section> <!-- informations -->
