<footer>
  <div class="center">
    <div class="flex-container">


        <div class="logo">
          <a routerLink="#"> <img src="assets/images/Logo-with-name.png" alt="logo Doe-Mais"> </a>
        </div> <!-- logo -->


      <div class="flex-item">
        <ul class="contact">
          <li><mat-icon>whatsapp</mat-icon><p>(81)90000-0000</p></li>
          <li><mat-icon>phone</mat-icon><p>(81)90000-0000</p></li>
          <li><span>@</span><p>doemais@instituto.org.com.br</p></li>
          <li><span class="iconify" data-icon="mdi:instagram" data-width="24"></span><p>doe_mais2355</p></li>
        </ul> <!-- contact -->
      </div> <!-- flex-item -->

      <div class="flex-item">
        <ul class="menu-footer">
          <li>Quem somos?</li>
          <li>Instituições</li>
          <li>Contate-nos</li>
        </ul> <!-- menu-footer -->
      </div> <!-- flex-item -->

    </div> <!-- flex-container -->
  </div> <!-- center -->
</footer>
