<footer>
  <div class="center">
    <div class="flex-container">

      <div class="flex-item">
        <div class="logo">
          <a routerLink="#"> <img src="assets/images/Logo-with-name.png" alt="logo Doe-Mais"> </a>
        </div> <!-- logo -->
      </div> <!-- flex-item -->

      <div class="flex-item">
        <ul class="contact">
          <li>(81)90000-0000</li>
          <li>(81)90000-0000</li>
          <li>doemais@instituto.org.com.br</li>
          <li>doe_mais2355</li>

        </ul> <!-- contact -->
      </div> <!-- flex-item -->

      <div class="flex-item">

      </div> <!-- flex-item -->

    </div> <!-- flex-container -->
  </div> <!-- center -->
</footer>
