<section class="banner" style="background-image: url('assets/images/banner-instituicoes.png');">
  <div class="center">
    <h2>Todos juntos melhorando o mundo!</h2>
    <p>Conheça nossas instituições parceiras abaixo</p>
  </div> <!-- center -->
</section> <!-- banner -->

<section class="instituicoes" style="background-image: url('assets/images/background2.png');">
  <div class="center">
    <h2>Conheça nossas <strong>instituições</strong></h2>
    <p *ngIf="messageError" class="messageError">{{messageError}}</p>
    <div class="flex-instituicoes" *ngIf="institutions">

      <div class="flex-item" *ngFor="let institution of institutions.institutions">
        <img src="https://storage.googleapis.com/quantum-ether-335121.appspot.com/{{institution.logo}}" alt="{{institution.nome}}">
        <a routerLink="/saiba-mais/{{institution.id_instituicao}}">{{institution.nome}}</a>
      </div> <!-- flex-item -->

    </div> <!-- flex-instituicoes -->

  </div> <!-- center -->
</section> <!-- instituicoes -->
