<section class="section-carrossel">

  <swiper [config]="config">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="background-slide slide-1">
          <div class="center">
            <h2>Mude uma vida</h2>
            <p>Com seu apoio, milhares de crianças, suas famílias e comunidades poderão contar com um futuro melhor.</p>
            <a routerLink="#"><button>Ver todas as instituições</button></a>
          </div> <!-- center -->
        </div> <!-- background-slide -->
      </div> <!-- swiper-slide -->

      <div class="swiper-slide">
        <div class="background-slide slide-2">
          <div class="center">
            <h2>Contribua agora mesmo e salve vidas</h2>
            <p>Com seu apoio, milhares de crianças, suas famílias e comunidades poderão contar com um futuro melhor.</p>
            <a routerLink="#"><button>Ver todas as instituições</button></a>
          </div> <!-- center -->
        </div> <!-- background-slide -->
      </div> <!-- swiper-slide -->

      <div class="swiper-slide">
        <div class="background-slide slide-3">
          <div class="center">
            <h2>Sua ajuda faz a maior diferença</h2>
            <p>Com seu apoio, milhares de crianças, suas famílias e comunidades poderão contar com um futuro melhor.</p>
            <a routerLink="#"><button>Ver todas as instituições</button></a>
          </div> <!-- center -->
        </div> <!-- background-slide -->
      </div> <!-- swiper-slide -->

    </div> <!-- swiper-wrapper -->

    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>

</section> <!-- section-carrossel -->
