<section class="section-carrossel">

  <swiper [config]="config">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="background-slide slide-1">

        </div> <!-- background-slide -->
      </div> <!-- swiper-slide -->

      <div class="swiper-slide">
        <div class="background-slide slide-2">

        </div> <!-- background-slide -->
      </div> <!-- swiper-slide -->

      <div class="swiper-slide">
        <div class="background-slide slide-3">

        </div> <!-- background-slide -->
      </div> <!-- swiper-slide -->

    </div> <!-- swiper-wrapper -->

    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>

</section> <!-- section-carrossel -->
