<section class="single-informations" style="background-image: url('assets/images/background3.png');">
  <div class="center">
    <div class="flex-container">
      <img src="assets/images/ex04.png" alt="instituição">
      <h2>A SUA AJUDA TRANSFORMA VIDAS!</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam amet minus accusamus ipsam! Similique sapiente sequi accusamus, fugiat tempore rem debitis qui nobis est, quasi.</p>
    </div> <!-- flex-container -->
  </div> <!-- center -->
</section> <!-- single-informations -->

<section class="payment">
  <div class="center">
      <div class="payment-informations">
        <h3>Doação em dinheiro</h3>

        <div class="informations">
          <p><strong>Razão social:</strong> Lorem ipsum</p>
          <p><strong>CNPJ:</strong> 00.000.000/0000-00</p>
          <p><strong>PIX:</strong> 00.000.000/0000-00</p>
        </div> <!-- informations -->

        <div class="informations">
          <p><strong>Bradesco:</strong> 0000</p>
          <p><strong>Agência:</strong> 0000</p>
          <p><strong>C/C:</strong> 0000-0</p>
        </div> <!-- informations -->

        <div class="informations">
          <h4>Banco Inter</h4>
          <img src="assets/images/qrcode-example.png" alt="qr_code">
        </div> <!-- informations -->


        <div class="informations">
          <h4>Localização</h4>
          <span>R. spanedro Guedes, 29 - Maracanã</span>
          <span>Rio de Janeiro - RJ, 20271-040</span>
        </div> <!-- informations -->

      </div> <!-- payment-informations -->
  </div> <!-- center -->
</section>
