.banner{
  max-height: 720px;
  min-height: 450px;
  height: 37vw;
  width: 100%;
  background-position: center;
  background-size: cover;
  font-family: 'Poppins';
  color: var(--color-text-white);
}

.banner .center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner h2{
  font-size: 40px;
}

.banner p{
  font-size: 28px;
  padding-top: 10px;
  font-weight: 400;
}








@media (max-width: 1600px) {
  .banner h2{
    font-size: 36px;
  }

  .banner p{
    font-size: 24px;
  }

  .presentation .item h2{
    font-size: 32px;
  }

  .presentation .item p{
    font-size: 22px;
  }

  .presentation .item ul li{
    font-size: 22px;
  }
}

@media (max-width: 1280px) {
  .banner h2{
    font-size: 30px;
  }

  .banner p{
    font-size: 22px;
  }
}


@media (max-width: 1024px) {
  .banner h2{
    font-size: 28px;
  }

  .banner p{
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .banner{
    padding: 0;
  }

  .banner .center{
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 380px) {
  .banner h2{
    font-size: 24px;
  }

  .banner p{
    font-size: 16px;
  }
}
