<section class="banner" style="background-image: url('assets/images/banner-contate-nos.jpg');">
  <div class="center">
    <h2>Fale conosco agora mesmo</h2>
    <p>Venha fazer parte da nossa equipe que recebem apoio!</p>
  </div> <!-- center -->
</section> <!-- banner -->

<section class="contact" style="background-image: url('assets/images/background2.png');">
  <div class="center">

    <div class="title"><p>Já pensou em sua instituição conseguir um espacinho em nossa plataforma?</p></div>
    <div class="subtitle">A <strong>Doe Mais</strong> não apenas busca melhorar a quantidade de doações, como ampliar a rede de instituições que irão receber o apoio. Vamos abranger não só ONG`s, mas também <strong>qualquer instituição que visa ajudar algo ou o próximo sem fins lucrativos,</strong> como um asilo, creches, abrigo de cães, e órgãos semelhantes. Trata de uma maneira mais facilitada de fazer a doação, e a ajuda não vai ser feita apenas com dinheiro, podemos disponibilizar a localização da instituição, para doação de mobílias, alimentos, remédios e afins. </div>

    <div class="flex-container">
      <div class="item">

        <div class="text">
          A <strong>Doe Mais</strong> terá o imenso desejo em acomodá-los em nossa plataforma. vamos ter um grande carinho e cuidados com nossas instituições parceiras. Venha fazer parte da nossa equipe e todo mundo irá sair ganhando!
        </div> <!-- text -->

        <div class="info-contact">
          <div class="title-contact">Entre em contato conosco pelo formulario disponibilizado ou contate-nos em nossas redes sociais</div>

          <ul class="social-medias">
            <li><mat-icon>whatsapp</mat-icon><p>(81)90000-0000</p></li>
            <li><mat-icon>phone</mat-icon><p>(81)90000-0000</p></li>
            <li><mat-icon>alternate_email</mat-icon><p>doemais@instituto.org.com.br</p></li>
            <li><span class="iconify" data-icon="mdi:instagram" data-width="24"></span><p>doe_mais2355</p></li>
          </ul> <!-- social-mediass -->
        </div> <!-- info-contact -->

      </div> <!-- item -->

      <div class="form-contact">
        <div class="title">Contate-nos</div>
        <form>
          <div class="input-field">
              <input type="text" placeholder="Nome" name="name">
          </div> <!-- input-field -->

          <div class="input-field">
              <input type="text" placeholder="Email" name="email">
          </div> <!-- input-field -->

          <div class="input-field">
              <input type="text" placeholder="Telefone" name="number">
          </div> <!-- input-field -->

          <div class="input-field">
              <textarea name="mensagem" placeholder="Deixe sua mensagem"></textarea>
          </div> <!-- input-field -->

          <input type="submit" value="Entrar em contato">
      </form>
      </div> <!-- form-contact -->
    </div> <!-- flex-container -->

  </div> <!-- center -->
</section> <!-- contact -->
