.presentation {
  padding: 80px 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.presentation .item{
  padding: 30px 0;
}


.presentation .item h2{
  color: var(--color-main-icons-hover);
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 10px;
}

.presentation .item p{
  font-size: 24px;
  line-height: 28px;
}


.presentation .item p strong{
  color: var(--color-main-icons-hover);
  font-weight: 500;
}

.presentation .item ul li{
  list-style-position: inside;
  font-size: 24px;
  line-height: 36px;
}


@media (max-width: 1600px) {
  .presentation .item h2{
    font-size: 32px;
  }

  .presentation .item p{
    font-size: 22px;
  }

  .presentation .item ul li{
    font-size: 22px;
  }
}

@media (max-width: 1280px) {
  .presentation .item h2{
    font-size: 28px;
  }

  .presentation .item p{
    font-size: 20px;
    line-height: 24px;
  }

  .presentation .item ul li{
    font-size: 20px;
    line-height: 30px;
  }
}


@media (max-width: 1024px) {
  .presentation .item h2{
    font-size: 26px;
  }

  .presentation .item p{
    font-size: 18px;
  }

  .presentation .item ul li{
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .presentation .item{
    text-align: center;
  }

  .presentation .item h2{
    font-size: 24px;
  }

  .presentation .item p{
    font-size: 16px;
  }

  .presentation .item ul li{
    font-size: 16px;
    list-style-type: none;
  }
}

@media (max-width: 380px) {
  .presentation .item h2{
    font-size: 20px;
  }

  .presentation .item p{
    font-size: 14px;
  }

  .presentation .item ul li{
    font-size: 14px;
  }
}
