<section class="banner" style="background-image: url('assets/images/banner-quem-somos.jpg');">
  <div class="center">
    <h2>Ajudamos a transformar vidas!</h2>
    <p>Com a Doe Mais, tudo fica mais simples</p>
  </div> <!-- center -->
</section> <!-- banner -->

<section class="presentation" style="background-image: url('assets/images/background2.png');">
  <div class="center">

    <div class="item">
      <h2>Quem somos?</h2>
      <p>A <strong>Doe Mais</strong> tem a proposta de ser uma plataforma em que as doações sejam feitas de maneiras mais simples, de quem precisa, para quem realmente precisa. Buscamos expandir a rede de instituições à receberem doação, impactando ainda mais instituições com <strong>menos visibilidade.</strong></p>
    </div> <!-- item -->

    <div class="item">
      <h2>Com o nosso projeto visamos:</h2>
      <ul>
        <li>Ter uma maior distribuição de doações entre as instituições;</li>
        <li>Ter uma maior facilidade para fazer doações;</li>
        <li>Ter uma maior visibilidade de instituições que precisam de doações;</li>
        <li>Ter uma maior acessibilidade do doador encontrar instituições que precisam de ajuda.</li>
      </ul>
    </div> <!-- item -->

    <div class="item">
      <h2>Imensa responsabilidade e compromisso!</h2>
      <p>A nossa maior vontade é fazer essa plataforma ir para frente e consigo ajudar muitas vidas para continuarem existindo. Temos uma equipe com enormes corações, lutando pelas causas e por uma melhor condição de vida das pessoas.</p>
    </div> <!-- item -->

  </div> <!-- center -->
</section> <!-- presentation -->
