<section class="section-carrossel">
  <div class="center-carrossel">
    <div class="title">Conheça nossas Instituições</div>
    <swiper [config]="config">

      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide">
            <a routerLink="#">
              <img src="assets/images/ex04.png" alt="instituição">
            </a>
          </div> <!-- slide -->
        </div> <!-- swiper-slide -->

        <div class="swiper-slide">
          <div class="slide">
            <a routerLink="#">
              <img src="assets/images/ex05.png" alt="instituição">
            </a>
          </div> <!-- slide -->
        </div> <!-- swiper-slide -->

        <div class="swiper-slide">
          <div class="slide">
            <a routerLink="#">
              <img src="assets/images/ex01.png" alt="instituição">
            </a>
          </div> <!-- slide -->
        </div> <!-- swiper-slide -->

        <div class="swiper-slide">
          <div class="slide">
            <a routerLink="#">
              <img src="assets/images/ex04.png" alt="instituição">
            </a>
          </div> <!-- slide -->
        </div> <!-- swiper-slide -->

        <div class="swiper-slide">
          <div class="slide">
            <a routerLink="#">
              <img src="assets/images/ex05.png" alt="instituição">
            </a>
          </div> <!-- slide -->
        </div> <!-- swiper-slide -->

        <div class="swiper-slide">
          <div class="slide">
            <a routerLink="#">
              <img src="assets/images/ex01.png" alt="instituição">
            </a>
          </div> <!-- slide -->
        </div> <!-- swiper-slide -->

        <div class="swiper-slide">
          <div class="slide">
            <a routerLink="#">
              <img src="assets/images/ex04.png" alt="instituição">
            </a>
          </div> <!-- slide -->
        </div> <!-- swiper-slide -->

        <div class="swiper-slide">
          <div class="slide">
            <a routerLink="#">
              <img src="assets/images/ex05.png" alt="instituição">
            </a>
          </div> <!-- slide -->
        </div> <!-- swiper-slide -->

        <div class="swiper-slide">
          <div class="slide">
            <a routerLink="#">
              <img src="assets/images/ex01.png" alt="instituição">
            </a>
          </div> <!-- slide -->
        </div> <!-- swiper-slide -->

      </div> <!-- swiper-wrapper -->
    </swiper>

    <a routerLink="/instituicoes"><button>Ver todas as instituições</button></a>
  </div> <!-- center -->
</section> <!-- section-carrossel -->

