<section class="section-carrossel center">

  <swiper [config]="config">

    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a routerLink="#">
          <img src="assets/images/ex04.png">
        </a>
      </div> <!-- swiper-slide -->

      <div class="swiper-slide">
        <a routerLink="#">
          <img src="assets/images/ex05.png">
        </a>
      </div> <!-- swiper-slide -->

      <div class="swiper-slide">
        <a routerLink="#">
          <img src="assets/images/ex01.png">
        </a>
      </div> <!-- swiper-slide -->

      <div class="swiper-slide">
        <a routerLink="#">
          <img src="assets/images/ex04.png">
        </a>
      </div> <!-- swiper-slide -->

      <div class="swiper-slide">
        <a routerLink="#">
          <img src="assets/images/ex05.png">
        </a>
      </div> <!-- swiper-slide -->

      <div class="swiper-slide">
        <a routerLink="#">
          <img src="assets/images/ex01.png">
        </a>
      </div> <!-- swiper-slide -->

      <div class="swiper-slide">
        <a routerLink="#">
          <img src="assets/images/ex04.png">
        </a>
      </div> <!-- swiper-slide -->

      <div class="swiper-slide">
        <a routerLink="#">
          <img src="assets/images/ex05.png">
        </a>
      </div> <!-- swiper-slide -->

      <div class="swiper-slide">
        <a routerLink="#">
          <img src="assets/images/ex01.png">
        </a>
      </div> <!-- swiper-slide -->

    </div> <!-- swiper-wrapper -->
  </swiper>

</section> <!-- section-carrossel -->

