main{
  padding-top: 110px;
  transition: 0.2s;
}

@media screen and (max-width: 1600px) {
  main{
    padding-top: 100px;
  }
}

@media screen and (max-width: 1280px){
  main{
    padding-top: 90px;
  }
}

@media screen and (max-width: 1024px){
  main{
    padding-top: 80px;
  }
}


@media screen and (max-width: 900px){
  main{
    padding-top: 70px;
  }
}
