@media screen and (max-width: 1600px){
  .informations .introdution .title{
    font-size: 27px;
    line-height: 30px;
  }

  .informations .introdution p{
    font-size: 21px;
    line-height: 23px;
  }

  .contacts-attendance{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contacts, .attendance{
    width: 50%;
    font-size: 17px;
  }

  .contacts h3, .attendance h3{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 1200px){
  .section-contact{
    height: auto;
    padding: 80px 0;
    text-align: center;
  }

  .flex-container{
    flex-direction: column;
    justify-content: center;
  }

  .flex-container .informations{
    padding-right: 0;
    max-width: 900px;
  }

  .flex-container .informations .introdution p {
    text-align: center;
  }

  .contacts, .attendance{
    padding-bottom: 50px;
  }

  .contacts .social-medias li a{
    justify-content: center;
  }

  .contacts-attendance .attendance .text {
    display: flex;
    justify-content: center;
   }

  .contacts-attendance .attendance p {
   max-width: 360px;
  }

  .flex-container .form-contact{
    max-width: 450px;
  }
}

@media screen and (max-width:720px){
  .contacts-attendance{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contacts, .attendance{
    width: 100%;
  }
}

@media screen and (max-width:430px){
  .contacts-attendance{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contacts, .attendance{
    width: 100%;
  }

  .informations .introdution .title{
    font-size: 24px;
    line-height: 27px;
  }

  .informations .introdution p{
    font-size: 18px;
    line-height: 20px;
  }

  .contacts, .attendance{
    font-size: 15px;
  }

  .contacts h3, .attendance h3{
    font-size: 18px;
  }

  .flex-container .form-contact .title{
    font-size: 19px;
  }

  .flex-container .form-contact  form{
    height: 450px;
  }


  .flex-container form input {
    font-size: 16px;
    padding: 10px 14px;
  }

  .flex-container form textarea {
    font-size: 16px;
    padding: 10px 14px;
  }

  .flex-container form input[type=submit] {
    max-width: 200px;
    padding: 16px 0;
  }

}
