<section class="section-contact" style="background-image: url('assets/images/background3.png');">
  <div class="flex-container center">

    <div class="informations">
      <div class="introdution">
        <div class="title">Responsabilidade e compromisso</div>
        <p>A Doe Mais tem o imenso prazer em conduzir todo esta plataforma para frente e com uma grande dedicação e esforço, trabalhamos bastante para trazer a melhor experiência possível ao usuário.</p>
      </div> <!-- introdution -->

      <div class="contacts-attendance">

        <div class="contacts">
          <mat-icon style="font-size: 36px; color: var(--color-main-icons);">supervisor_account</mat-icon>
          <h3>Conheça nossas redes sociais</h3>
          <ul class="social-medias">
            <li><a routerLink="#"><mat-icon>whatsapp</mat-icon><p>(81)90000-0000</p></a></li>
            <li><a routerLink="#"><mat-icon>phone</mat-icon><p>(81)90000-0000</p></a></li>
            <li><a routerLink="#"><mat-icon>alternate_email</mat-icon><p>doemais@instituto.org.com.br</p></a></li>
            <li><a routerLink="#"><span class="iconify" data-icon="mdi:instagram" data-width="24"></span><p>doe_mais2355</p></a></li>
          </ul> <!-- social-medias -->
        </div> <!-- contacts -->

        <div class="attendance">
          <mat-icon style="font-size: 36px; color: var(--color-main-icons);">insert_emoticon</mat-icon>
          <h3>Atendimento personalizado</h3>
          <div class="text">
            <p>Entre em contato e fale um pouco sobre sua instituição, retire suas dúvidas e consiga um espaço em nossa plataforma!</p>
          </div> <!-- text -->
        </div> <!-- attendance -->

      </div> <!-- contacts-attendance -->
    </div> <!-- informations -->

    <div class="form-contact">
      <div class="title">Contate-nos</div>
      <form>
        <div class="input-field">
            <input type="text" placeholder="Nome" name="name">
        </div> <!-- input-field -->

        <div class="input-field">
            <input type="text" placeholder="Email" name="email">
        </div> <!-- input-field -->

        <div class="input-field">
            <input type="text" placeholder="Telefone" name="number">
        </div> <!-- input-field -->

        <div class="input-field">
            <textarea name="mensagem" placeholder="Deixe sua mensagem"></textarea>
        </div> <!-- input-field -->

        <input type="submit" value="Entrar em contato">
    </form>
    </div> <!-- form-contact -->

  </div> <!-- flex-container -->
</section>
