<section class="section-menu">
  <div class="center">
    <div class="menu">
      <div class="logo">
          <img src="assets/images/Logo-with-name.png" alt="logo Doe-Mais">
      </div> <!-- logo -->

      <nav class="menu-mobile">
        <ul>
          <li>Quem somos?</li>
          <li>Instituições</li>
          <li>Contate-nos</li>
          <li>Como doar?</li>
        </ul>
      </nav> <!-- menu-mobile -->

      <nav class="menu-desktop">
        <ul>
          <li>Quem somos?</li>
          <li>Instituições</li>
          <li>Contate-nos</li>
          <li>Como doar?</li>
        </ul>
      </nav> <!-- menu-desktop -->

    </div> <!-- menu -->
  </div> <!-- center -->
</section> <!-- section-menu -->


