.section-menu{
  background-color: var(--main-background-color);
  font-family: var(--font-open-sans);
}

.menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-main-white);
  height: 110px;
}

.menu .logo{
  width: 100%;
  max-width: 280px;
  display: flex;
  align-items: center;
}

.menu .logo img{
  width: 100%;
}

.menu .icon-menu-mobile{
  display: none;
  width: 50px;
  height: 50px;
  background-image: url('../../../assets/images/menu.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.menu .menu-desktop ul li{
  display: inline-block;
  padding: 0 25px;
  font-size: 24px;
  font-weight: 500;
}

.menu .menu-desktop ul li a{
  color: var(--color-main-white);
  text-decoration: none;
}

.menu .menu-desktop ul li:last-of-type{
  background-color: var(--color-main-icons);
  padding: 10px 25px;
  border-radius: 20px;
}

.menu .menu-desktop ul li:last-of-type:hover{
  background-color: var(--color-main-icons-hover);
  cursor: pointer;
}

.menu-mobile{
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  width: 100%;
  text-align: center;
}

.menu-mobile ul li{
  list-style-type: none;
  padding: 10px 0 15px 0;
  font-size: 16px;
  font-weight: 600;
}

.menu-mobile ul li a{
  color: var(--color-main-white);
  text-decoration: none;
}

.mobah{
  height: 200px !important;
}


/* media queries */
@media screen and (max-width: 1600px){
  .menu{
    height: 100px;
  }

  .menu .logo{
    max-width: 240px;
  }

  .menu .menu-desktop ul li{
    padding: 0 20px;
    font-size: 20px;
  }

  .menu .menu-desktop ul li:last-of-type{
    padding: 8px 20px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 1280px){
  .menu{
    height: 90px;
  }

  .menu .logo{
    max-width: 220px;
  }

  .menu .menu-desktop ul li{
    padding: 0 18px;
    font-size: 18px;
  }

  .menu .menu-desktop ul li:last-of-type{
    padding: 7px 18px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 1024px){
  .menu{
    height: 80px;
  }

  .menu .logo{
    max-width: 200px;
  }

  .menu .menu-desktop ul li{
    padding: 0 16px;
    font-size: 16px;
  }

  .menu .menu-desktop ul li:last-of-type{
    padding: 7px 16px;
    border-radius: 20px;
  }
}


@media screen and (max-width: 900px){
  .menu .menu-desktop{
    display: none;
  }

  .menu .icon-menu-mobile{
    display: block;
  }
}
