.section-menu{
  background-color: var(--main-background-color);
}

.menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-main-white);
  height: 110px;
  font-family: var(--font-open-sans);
}

.menu .logo{
  width: 100%;
  max-width: 280px;
  display: flex;
  align-items: center;
}

.menu .logo img{
  width: 100%;
}

.menu .menu-itens ul li{
  display: inline-block;
  padding: 0 25px;
  font-size: 24px;
  font-weight: 600;
}

.menu .menu-itens ul li:last-of-type{
  background-color: var(--color-main-icons);
  padding: 10px 25px;
  border-radius: 20px;
}

.menu .menu-itens ul li:last-of-type:hover{
  background-color: var(--color-main-icons-hover);
  cursor: pointer;
}

@media screen and (max-width: 1600px){
  .menu{
    height: 100px;
  }

  .menu .logo{
    max-width: 240px;
  }

  .menu .menu-itens ul li{
    padding: 0 20px;
    font-size: 20px;
  }

  .menu .menu-itens ul li:last-of-type{
    background-color: var(--color-main-icons);
    padding: 8px 20px;
    border-radius: 20px;
  }
}
