.section-call{
  width: 100%;
  padding: 80px 0;
  background-color: var(--main-background-color);
}

.flex-container{
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text-white);
  text-align: center;
}

.flex-container .title{
  font-size: 32px;
}

.flex-container .subtitle{
  margin: 30px 0;
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
}

.flex-container .icons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.icons .flex-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: italic;
  width: 20%;
}

.icons .flex-icon .icon{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: var(--color-main-icons);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
