<section class="section-call">
  <div class="flex-container center">

    <div class="title">SEJA UM <strong>DOADOR</strong> AGORA MESMO! PELO <strong>DOE MAIS</strong> VOCÊ CONTRIBUI PARA AS CAUSAS MAIS RELEVANTES DO BRASIL E AJUDA <strong>TRANSFORMAR MILHARES DE VIDAS</strong></div>

    <div class="subtitle">Essas são as causas que nós apoiamos, conheça!</div>

    <div class="icons">

      <div class="flex-icon">
        <div class="icon" style="background-image: url('assets/images/icon-1.png');"></div>
        <div class="text">Saúde e bem estar</div>
      </div> <!-- flex-icon -->

      <div class="flex-icon">
        <div class="icon" style="background-image: url('assets/images/icon-2.png');"></div>
        <div class="text">Preservação ambiental</div>
      </div> <!-- flex-icon -->


      <div class="flex-icon">
        <div class="icon" style="background-image: url('assets/images/icon-3.png');"></div>
        <div class="text">Direito a educação</div>
      </div> <!-- flex-icon -->


      <div class="flex-icon">
        <div class="icon" style="background-image: url('assets/images/icon-4.png');"></div>
        <div class="text">Assistência social</div>
      </div> <!-- flex-icon -->


      <div class="flex-icon">
        <div class="icon" style="background-image: url('assets/images/icon-5.png');"></div>
        <div class="text">Cuidados de animais</div>
      </div> <!-- flex-icon -->

    </div> <!-- icons -->

  </div> <!-- flex-container -->
</section> <!-- section-call -->

